/* General things */
* {
    font-family: "Inria Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #8e8075;
}
a:hover {
    color: #d9bf8f;
}

/* STICKY FOOTER START */
html,
body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -100px;
}
footer,
.push {
    height: 50px;
}
/* STICKY FOOTER END */

body {
    background: url(bimage.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-toggler {
    color: #8e8075 !important;
    border-color: #8e8075 !important;
}

/* Navbar */
nav {
    padding-top: 1rem;
}

nav ul li a,
nav ul li a:visited {
    color: #8e8075 !important;
    font-weight: bold;
    /* Texto del navbar */
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: #d9bf8f !important;
}

nav ul li {
    padding-left: 2rem;
}

.logo {
    float: left;
}

.collapse {
    height: 100px !important;
}

/* Index */

.index-img-cont {
    max-height: 450px;
    max-width: 600px;
    margin-top: 120px;
    margin-right: 70px;
    overflow: hidden;
    border: 4px solid #8e8075;
    box-sizing: border-box;
    border-radius: 10px;
}

.title-image {
    position: relative;
    bottom: 70px;
    box-sizing: border-box;
    width: 100%;
}

.index-page {
    text-align: center;
}

.index-text {
    margin-top: 100px;
    padding: 0 100px;
    text-align: justify;
    font-family: Inria Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #d9bf8f;
}

/* About Us */

.musician-title {
    color: #d9bf8f;
    font-family: Inria Sans;
    padding: 7% 0;
}

.musician-image {
    width: 50%;
    border: 4px solid #8e8075;
    box-sizing: border-box;
    border-radius: 10px;
}

.elliot-image {
    margin-top: 100px;
}

.pedro-cases-img {
    margin-top: 130px;
}

.marina-img {
    margin-top: 150px;
}

.dearbhlaimage {
    margin-top: 170px;
}

.marick-img {
    margin-top: 50px;
}

.musician-text {
    text-align: justify;
    font-family: Inria Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #d9bf8f;
    padding-right: 8%;
}

.musicians-text1 {
    padding-top: 2%;
}

.musicians-text2 {
    padding-top: 6%;
}

/* Sección Media */

.video-youtube {
    border: 4px solid #8e8075;
    border-radius: 10px;
    margin-bottom: 10%;
}

.div-youtube {
    text-align: center;
}

/* Footer */

.footer-icons {
    color: #8e8075;
    padding-top: 3%;
}
.footer-icon {
    padding-left: 1%;
}

/* CONTACT FORM */
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #8e8075; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    color: #d9bf8f;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
    background-color: #8e8075;
    color: #d9bf8f;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker color */
input[type="submit"]:hover {
    background-color: #d9bf8f;
    color: #8e8075;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;

    padding: 20px;
}

input,
textarea,
select {
    background-color: #363842;
}

select {
    color: #d9bf8f;
}

.divcontainer {
    padding: 0 20%;
}

label {
    color: #d9bf8f;
}

/* Merchandise */

.comingsoon {
    padding-bottom: 21% !important;
}

/* BOOTSTRAP FIX */

.row {
    --bs-gutter-x: 0 !important;
}

@media (max-width: 1028px) {
    .container {
        max-width: 950px;
    }
    .navlogo {
        padding-bottom: 100px;
    }
    .index-img-cont {
        width: 800px;
        position: relative;
        left: 20%;
        margin-bottom: 100px;
    }
    .title-image {
        position: inherit;
    }
    .index-text {
        margin: 150px 20px 0 30px;
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .musician-image {
        margin-bottom: 10%;
    }
    .musician-text {
        margin-left: 5%;
        font-size: 3rem;
        line-height: 3.5rem;
    }
    h1 {
        font-size: 5rem;
        font-weight: bold;
    }
    .divresponsive {
        padding-bottom: 380px;
    }
    .navcontainer {
        text-align: right;
    }
    .divcontainer {
        padding: 0;
        text-align: center;
    }
    label {
        font-size: xx-large;
        margin-bottom: 10%;
    }
    input[type="submit"] {
        padding: 23px 30px;
    }
    .botoncillo {
        font-size: 3rem;
        font-weight: bold;
    }
    footer {
        padding-top: 60%;
    }
    .logoimg {
        width: 400px;
        height: auto;
    }
    .navbar-toggler-icon {
        height: 100px;
        width: 100px;
    }
    .navbar-toggler-icon {
        font-size: 3rem;
    }
    nav ul li a,
    nav ul li a:visited {
        font-size: 3rem;
    }
    .footer-icon {
        font-size: 60px;
        padding-right: 40px;
    }
}
